<h2>Hello World</h2>
<p>
  Bautres <br>
  Hora de Entrada: <%= Time.now %>
  Hora de Entrada: <%= Time.find_zone "America/Santiago" %>
  Hora de Entrada: <%= Time.zone.now "America/Santiago" %>
  Hora de Entrada: <%= Time.utc(2007, 2, 10, 20, 30, 45).in_time_zone "America/Santiago" %>
  Hora de Entrada: <%= Time.zone.parse('2007-02-10 15:30:45')   "America/Santiago" %>

</p>
